<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pribadi.tugas.if314053.paladinsheroeswiki">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashscreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChampionsActivity"
            android:label="@string/title_activity_champions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChampionsDetailActivity"
            android:label="@string/title_activity_champions_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModesActivity"
            android:label="@string/title_activity_modes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModesDetailActivity"
            android:label="@string/title_activity_modes_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PatchActivity"
            android:label="@string/title_activity_patch"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".PatchDetailActivity"
            android:label="@string/title_activity_patch_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>